<a href="https://colab.research.google.com/github/paulodcsc/discrete_mathematics/blob/main/merging_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import pandas as pd

aluno = pd.read_csv('https://raw.githubusercontent.com/paulodcsc/discrete_mathematics/main/Base-de-Alunos5.csv')
dengue = pd.read_csv('https://raw.githubusercontent.com/paulodcsc/discrete_mathematics/main/Base-de-Dengue5_1.csv')
onibus = pd.read_csv('https://raw.githubusercontent.com/paulodcsc/discrete_mathematics/main/Base-de-Onibus5_1.csv')

print(aluno) 

nome_aluno = aluno['Nome'].tolist()
nome_dengue = dengue['Nome'].tolist()
nome_onibus = onibus['Nome'].tolist()

#vetor com todos os nomes

#for para oercorrer o vetor de todos os nomes

#split em cada elemento

#verificar se t√° correto if

      ID                       Nome  ... Sexo  Data de Nascimento
0    212        ABNER ANDRADE SILVA  ...    m       9/9/2814 0:00
1     47                 ADEMIR A F  ...    m      3/25/5223 0:00
2    251         ADREY AQUINO SOUSA  ...    m   6-0-7811 00:00:00
3    261        AKA ABREU FRANCISCO  ...    f  79-1-2000 00:00:00
4    148             ALESSANDRA C S  ...    f      9/24/1988 0:00
..   ...                        ...  ...  ...                 ...
274   24                  WANDERSOO  ...    m       3/1/2801 0:00
275   53  WEBERSON NASCIMENTO GOMES  ...    m      1/29/2006 0:00
276  208                WESLLEY S P  ...    m      10/3/6998 0:00
277   18         YARIA JATIAS SILRJ  ...    f      8/22/2517 0:00
278  155     YONUS XOSIMNE VALEPTIL  ...    m       2/8/2000 0:00

[279 rows x 6 columns]